# Ignore application.properties and other sensitive config
**/application.properties

# Node modules
**/node_modules/
**/package-lock.json

# Build outputs
**/target/
**/build/
**/dist/

# IDE files
**/.vscode/
**/.idea/
**/*.iml

# OS files
**/.DS_Store
proj1/test-output/
proj1/.venv/
proj1/tests/.pytest_cache/
proj1/tests/__pycache__/
